.square{
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    background-color: rgb(170, 51, 42);
    /* background-color: #F75270; */
    /* background-color: rgba(85, 0, 255, 0.5); */

}