*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#box{
    width: 300px;
    height: 300px;
    /* both are same  */
    /* background-image: ;  */
    background: url(https://plus.unsplash.com/premium_photo-1747852197727-e6a343ce87ae?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* when image is not seen properly  */
    background-size: cover; 
    /* when we have to see the center part of image  */
    background-position: center;
}


