*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

h1{
    color: black;
    background-color: aqua;
}

.main{
    width: 300px;
    height: 300px;
    background-color: red;
}
#test{
    width: 50%;
    height: 50%;
    background-color: red;
}
.practice{
    width: 10vw;
    height: 20vh;
    background-color: red;
}