*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

/* we can change width and height of inline block  */
p{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
}
/* we can not change width and height of inline element so after giving value in width and height it will not change  */
/* p{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: red;
} */