*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#practice{
    width: 400px;
    height: 200px;
    background-color: red;
}

#child{
    width: 50%;
    height: 50%;
    background-color: yellow;
}

/*  80px width * 32px height  box will created  */
#test{
    font-size: 16px;
    width: 5em;
    height: 2em;
    background-color: aqua;
}