*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#car1{
    width: 100px;
    height: 100px;
    background-color: red;
}
#car2{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 80px;
    height: 120px;
    background-color: green;
}
#car3{
    width: 110px;
    height: 90px;
    background-color: black;
}