*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
}
#cube{
    position: absolute;
    left: 90%;
    width: 30px;
    height: 30px;
    background-color: yellow;
}