p{
    width: fit-content;
    position: relative;
}
p::before{
    position: absolute;
    top: 100%;
    content: ' ';
    width: 100%;
    height: 3px;
    background-color: red;
}
/* p::after{
    position: absolute;
    top: 100%;
    content: ' ';
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
} */
p::after{
    content: '>' ;
}