*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;   
}
#left{
    background-color: red;
}
#right{
    background-color: blue;
}