*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#practice{
    width: 600px;
    height: 200px;
    /* overflow: hidden; */
    background-color: red;
}

#child{
    width: 100vw;
    height: 100vh;
    background-color: green;
}