*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;

}
#nav{
    display: grid;
    background-color: aqua;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-template-rows: 100px;
    align-items: center;
    justify-items: center;
    padding: 0 20px;

}
#nav h1{
    /* justify-self: ; is used to apply property on child  */
    justify-self: start;
}