*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 50px;
}
/*  100px * 100px box will be created  */
#test{
    width: 2rem;
    height: 2rem;
    background-color: red;
}
.main{
    width: 12000px;
    min-width: 200px;
    max-width: 500px;
    height: 200px;
    background-color: #414141;
}