*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    /* flex-direction: column; 
    display: flex;
    align-items: center;
    justify-content: space-evenly; */
    display: grid;
    /* grid-template-columns: 100px 100px;  */
    /* it will divide the screen into 20% 20% column */
    /* grid-template-columns: 20% 20% 20% 20%; */
    /* it will divide the row into 20% 20% 20% 20% rows  */
    /* grid-template-rows: 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;  */

    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    align-content: space-evenly;
    justify-content: space-evenly;

    
}
.elem{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 3px solid black;
}
