*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    /* margin auto will provide horizontally both side equal margin and keep the 
    elements in the center of its parents   */
    margin: 0 auto;
    background-color: aqua;
}