.box{
    width: 300px;
    height: 300px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    transition: all 3s linear 1s;
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 25px;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: rotate(-45deg); */

    /* box size will be 2 times larger */
    /* transform: scale(2); */
    
    /* it will tilt by 45 deg  */
    /* transform: skew(45deg); */

    /* transform: translate(500px); */
    /* transform: translate(-500px); */
    /* transform: translate( 0px, 500px); */
    transform: translate(500px ,500px);



}