p{
    color: blue;
}
#article1{
    background-color: green;
}
.paraclass{
    background-color: yellow;
}
p,article{
    width: 500px;
}

/* it will apply on only paraclass of p  */
p.paraclass{
    text-align: center;
}