#navList{
    width: 100%;
    /* it is used to remove numbering and dot symbol  */
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
nav{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color: #fff;
}
.navContainer{
    padding: 15px;
    width: 100vw;
    min-height: 80px;
    background-image: linear-gradient( 98.7deg,  rgba(34,175,245,1) 2.8%, rgba(98,247,151,1) 97.8% );
    display: flex;
    align-items: center;
}
#navLogo{
    font-size: 2.8rem;
    color: white;
}
#navItems{
    display: flex;
    gap: 40px;
}
a{
    /* to remove text decoration  */
    text-decoration: none;
    color: azure;
}
.footerBox{
    background-image: linear-gradient( 98.7deg,  rgba(34,175,245,1) 2.8%, rgba(98,247,151,1) 97.8% );
    width: 100%;
    min-height: 40px;
    text-align: center;
}
.footerBox p{
    font-size: 2rem;
    color: azure;

}
.contentBox{
    width: 65%;
    margin: auto;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 3px 3px 30px black;
    
}
.item{
    display: flex;
    justify-content: space-around;

}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightBox img{
    height: 400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightBox:hover{
    transform: scale(1.3);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2rem;
}
.ingBox{
    font-size: 1.3rem;
}
.recipeBox{
    font-size: 1.1rem;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 33, 33, 0.277);
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    /* if we want to make an item invisible then we keep  its opacity property 0 */
    /* if we want to make it visible then we keep opacity 1 */
    opacity: 0;
    transition: all 0.3s linear 0s ;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}


