.parent{
    background-color: bisque;
    border: 1px solid black;
    width: 50%;
}
.child{
    border: 1px solid green;
    background-color: aqua;
    width: 50%;
}
/* .container{
    background-color: beige;
    border: 2px solid green;
    width: 50vw;
    height: 100vh;
}
.box{
    border: 2px solid brown;
    width: 30%;
} */



.box1{
    border: 1px solid black;
    font-size: 100px;
}