*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    
    /* min-height: 980px; */
    background-image: linear-gradient( 180.4deg,  rgba(0,6,10,1) 1%, rgba(1,190,237,1) 91.4% );
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 360px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.card img{
    height: 60%;
    border-radius: 10px;
}
.card h2{
    font-weight: bold;
    font-size: 1.6rem;
}
.card p{
    font-size: 1.2em;
}
