*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(69,62,62);
    display: grid;
    gap: 0.4rem;
    /* grid-template-columns: repeat(1, 300px); */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 200px); */
    grid-template-rows: repeat(4, 1fr);
    padding: 4rem;
    border: 2px solid white;
    /* justify-items: stretch; */
    /* justify-items: end; */
    /* align-items: center; */
    /* align-items: end; */
}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(58, 209, 80);
    border: 5px solid white;
    /* item will place in the end of cell  */
    /* justify-self: end; */
    /* justify-self: start; */
    /* if item width is not given then item will stretch and
     acquire the entire width of cell  */
    /* justify-self: stretch; */
    /* align-self: stretch; */
    /* place-self: stretch; */
}