*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span{
    border: 2px solid black;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}