.box{
    background-color: aqua;
    width: 400px;
    height: 400px;
    border: 3px solid black;
}
@media (min-width: 500px){
    .box{
        background-color: green;
    }
}
@media (min-width: 200px) and (max-width: 400px){
    .box{
        background-color: red;
    }
}
