.container{
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid brown;
    background-color: aqua;
    width: 600px;
    flex-direction: row;
}
p{
    border: 1px solid black;
    background-color: red;
}
#boxleft{
    /* flex-direction: column; */
    width: 47%;
    background-color: aquamarine;
    border: 2px solid green;

}
#boxright{
    width: 47%;
    background-color: rgb(85, 22, 145);
    border: 2px solid yellow;
}
@media (max-width: 640px){
    .container{
        flex-direction: column;
    }
}
