.box{
    height: 400px;
    width: 400px;
    background-color: beige;
    border: 2px solid black;
    /* transition property will apply only on width  */
    /* transition-property: width; */
    /* transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear; */

    /* shorthand notation  */
    /* property name | duration | easing function | delay  */
    /* transition: all 2s ease-in 1s; */
    
    /* starting 2s width increase and remaining 3s height will increase  */
    transition: width 2s, height 5s;

}
.box:hover{
    width: 1200px;
    height: 900px;
    background-color: blue;
}